//********************************************************************\\
//*   .-/Made by Meibbo\-.  .-|Vaultman v1.0.0|-.  .-/April 2026\-.  *\\
//********************************************************************\\
@use 'tokens' as *;
@use 'mixins' as *;

//...----------—————————————( ANIMATIONS )————————————------------...\\

@keyframes vm-search-pulse {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: var(--background-modifier-active-hover);
  }
  100% {
    background-color: transparent;
  }
}

.vm-search-highlight {
  animation: vm-search-pulse 0.8s ease-out;
}
